* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0), rgb(16, 26, 35));
}

main {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.planet {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url('./images/행성1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.planet::after {
  position: absolute;
  z-index: -10;
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(224, 230, 28, 0.4) 50%, transparent 70%);
}
